#about {
    padding: 0 50px;
    height: 90vh;
}

.container-title {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 180px;

}

.container-title h1 {
    font-size: 50px;

}

.container-divs {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 20px 50px 0px 50px;
    width: 90%;
}

.container-img-about {
    width: 250px;
    height: 310px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: #CB0980;
    border-radius: 2%;
}

.container-img-about img {
    position: relative;
    border-radius: 2%;
    width: 230px;
    height: 290px;
    left: 24%;
    top: 12%;
}

.container-img-about img:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.379);
}

.container-text {
    width: 620px;
    height: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 0.1px solid #d4d3d3;
    border-radius: 2%;
}

.container-text p {
    font-size: 20px;
    margin: 30px;
    text-align: justify;
}

.container-text:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.379);
}

.container-img-about img:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.379);
}



@media(max-width: 768px) {
    .container-title {
        font-size: 36px;
    }

    .container-divs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container-img-about {
        width: 200px;
        height: 260px;
    }

    .container-img-about img {
        width: 180px;
        height: 240px;
    }

    .container-text {
        width: 420px;
        height: 270px;
        margin: 30px 30px 0px 0px;
    }

    .container-text p {
        font-size: 15px;
    }

}

 @media(max-width: 425px) {
    .container-title h1 {
        font-size: 34px;
    
    }
    .container-title{
        margin-left: 70px;
    }
    .container-divs{
        display: flex;
    }
   
    .container-img-about {
        width: 180px;
        height: 240px;
       align-items: center;
       justify-content: center;
       text-align: center;
    }

    .container-img-about img {
        width: 160px;
        height: 220px;
    }

    .container-text {
        width: 420px;
        height: 280px;
        align-items: center;
        justify-content: center;
        text-align: center; 
        margin: 30px 0px 0px 0px;

    }

}

@media(max-width: 375px) {
    .container-text {
        width: 370px;
        height: 300px;
        margin: 30px -42px 0px 0px;
    }
   
} 

@media(max-width: 320px) {
    .container-title{
        margin-left: 210px;
    }
    .container-title h1 {
        font-size: 40px;
 
    }
    .container-img-about {
        width: 160px;
        height: 220px;
    }
    .container-img-about img {
        width: 140px;
        height: 200px;
    }
    .container-text {
        width: 370px;
        height: 300px;
        margin: 30px -85px 0px 0px;
    }
   
} 