#about {
    padding: 50px;
    height: 100vh;
}

.container-title {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.container-title h1 {
    font-size: 50px;
}

.container-divs {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.container-img-about {
    width: 250px;
    height: 310px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    background: #CB0980;
    border-radius: 2%;
}

.container-img-about img {
    position: relative;
    border-radius: 2%;
    width: 230px;
    height: 290px;
    left: 24%;
    top: 12%;
}

.container-img-about img:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.379);
}

.container-div-text{
    padding-top: 30px;
}

.container-text {
    width: 620px;
    height: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    border: 0.1px solid #d4d3d3;
    border-radius: 2%;
}

.container-text p {
    font-size: 20px;
    margin: 30px;
    text-align: justify;
}

.container-text:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.379);
}

.container-img-about img:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.379);
}



@media(max-width: 768px) {
    .container-title {
        font-size: 36px;
    }

    .container-divs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-img-about {
        width: 180px;
        height: 240px;
    }

    .container-img-about img {
        width: 160px;
        height: 220px;
    }

    .container-text {
        width: 420px;
        height: 270px;
    }

    .container-div-text{
        padding-top: 30px;
    }

    .container-text p {
        font-size: 15px;
    }

}

 @media(max-width: 425px) {
    .container-title{
      margin-left: 20px;
    }
    .container-title h1 {
        font-size: 34px;
    }
    .container-divs{
        display: flex;
    }
    .container-img-about {
        width: 180px;
        height: 240px;
    }
    .container-img-about img {
        width: 160px;
        height: 220px;
    }
    .container-text {
        width: 420px;
        height: 280px;
    }
    .container-div-text{
        padding-left: 60px;
    }

}

@media(max-width: 375px) {
    .container-title h1 {
        font-size: 25px;
    }
    .container-title{
        padding-left: 50px;
      }
    .container-text {
        width: 370px;
        height: 300px;
    }
    .container-div-text{
        padding-left: 100px;
    }
   
} 

@media(max-width: 320px) {
    .container-title{
        padding-left: 100px;
      }
    
    .container-img-about {
        width: 160px;
        height: 220px;
    }
    .container-img-about img {
        width: 140px;
        height: 200px;
    }
    .container-div-text{
        padding-left: 170px;
    }
    .container-text {
        width: 370px;
        height: 300px;

    }   
} 