.container-proyects {
    width: 400px;
    height: 400px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 0.1px solid #d4d3d3;
    border-radius: 2%;
    display: inline-flex;
}

.container-divs {
    flex-direction: column;
    align-items: center;
}

.container-img-p {
    width: 200px;
    height: 150px;
}

.container-img-p img {
    width: 100%;
    height: 100%;
}

.container-proyects-text {
    width: 400px;
    height: 100px;
    border-radius: 2%;
}

.container-proyects-text h1 {
    font-size: 22px;
}

.container-proyects-text h2 {
    font-size: 18px;
    text-align: justify;
    margin: 0px 20px 0px 20px;
}

.btn-github {
    width: 114px;
    height: 37px;
    background: #6bb5fa;
    border-radius: 10px;
    border-color: #6bb5fa;
    cursor: pointer;
    font-size: 20px;
}

.btn-visitar {
    width: 114px;
    height: 37px;
    background: #6bb5fa;
    border-radius: 10px;
    border-color: #6bb5fa;
    cursor: pointer;
    font-size: 20px;
}

.btn-github:hover,
.btn-visitar:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid #2991f1;
    color: #2991f1;
    cursor: pointer;
}



@media (max-width: 768px) {
  .container-proyects {
        width: 300px;
     height: 260px;
     margin-top: 20px;
    }
    .container-img-p {
        width: 150px;
        height: 100px;
    }
    .container-proyects-text {
        width: 300px;
        height: 50px;
    }
    .container-proyects-text h1 {
        font-size: 18px;
    }
    .container-proyects-text h2 {
        font-size: 13px;
        text-align: justify;
        margin: 0px 20px 0px 20px;
    }
    .container-proyects-btns{
        padding-top: 50px;
        display: flex;
        align-items: center;
    }
    
    .btn-github {
        width: 114px;
        height: 37px;
    }
    
    .btn-visitar {
        width: 114px;
        height: 37px;

    }

}

@media (max-width: 425px) {
    .container-proyects {
        width: 320px;
     height: 220px;
    }
    .container-proyects-text {
        width: 340px;
        height: 30px;
    }
    .container-proyects-text h1 {
        font-size: 16px;
    }
    .container-proyects-text h2 {
        font-size: 12px;
    }
    .container-proyects-btns{
        padding-top: 40px;
    }   
    .btn-github {
        width: 100px;
        height: 32px;    
    }
    .btn-visitar {
        width: 100px;
        height: 32px;
    }
}

@media (max-width:375px) {
  
}

@media (max-width:320px) {
    .container-divs-p {
        margin: 0px 0px 0px 45px;
    }
}