#proyects {
    padding: 0 50px;
    height: 90vh;

}

.container-proyects-title {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
}

.container-proyects-title h1 {
    font-size: 50px;
}

.container-divs-p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    
}


.container:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.379);
}

@media(max-width: 425px) {
    .container-proyects-title {

        width: 140%;
    }
    
    .container-proyects-title h1 {
        font-size: 36px;
    }
}
