#proyects {
    padding: 50px;
    height: 100vh;

}

.container-proyects-title {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.container-proyects-title h1 {
    font-size: 50px;
}

.container-divs-p {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
   
}
.btn-div-mas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.btn-mas {
    width: 400px;
    background: #6bb5fa;
    border-radius: 10px;
    border: #6bb5fa;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 0px;
    color: black;
    font-weight: 600;
}

.btn-mas:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid #2991f1;
    cursor: pointer;
    transition: 0.5s;
}

@media(max-width: 768px) {
    .container-divs-p {
        flex-direction: column;
    }
    .btn-div-mas{
        padding-top: 30px;
    }
    .btn-mas {
        width: 300px;
        font-size: 20px;
    }
}

@media(max-width: 425px) {
}

@media(max-width: 375px) {


}
@media(max-width: 320px) {
   

}