
.btn_mode{
    border: none;
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position:relative;
    top:0%;
    left:-10%;
    color:black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.btn_mode:hover {
    color: orange;
  }

.icon{
    width: 40px;
    height: 40px;
    display: block;
}