.header{
    position:fixed;
    width: 100%;
background-color: aqua;
z-index:1;
}
.navbar{
   background: rgba(29, 29, 29, 0.651);
  height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}
.nav_items a{
    margin: 8px;
    color: #6bb5fa;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;

}
.nav_items a:hover{
    border-radius: 5px;
    font-size: 22px;
    color: #CB0980;
}
.nav_toggle{
    display: none;
}

@media screen and (max-width: 768px) {
    .nav_items{
        position:absolute;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        background: rgba(29, 29, 29, 0.651);
    }
 
    .nav_items.open{
        transform: translateX(0) !important
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 15px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480) {
    
}